<ion-header class="toolbar-ios" [translucent]="true" collapse="condense">
		<ion-toolbar>
			<ion-label slot="secondary">
				<ion-chip>
					<ion-avatar>
						<img src="{{user.profilePicture}}">
					</ion-avatar>
					<ion-label>{{user.name}}</ion-label>
				</ion-chip>
			</ion-label>
			<ion-buttons slot="primary">
				<span style="text-transform: capitalize">{{openStatus.status}}</span>
				<ion-icon slot="end" [ngClass]="openStatus.color" name="{{openStatus.icon}}"></ion-icon>
			</ion-buttons>
		</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<app-home></app-home>
</ion-content>
