<ion-list>
  <ion-card>
    <ion-card-header>
      <ion-item lines="none" class="ion-no-padding" detail>
        <ion-icon slot="start" name="water-outline"></ion-icon>
        <ion-label>
          Book a pool slot
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item lines="none" class="ion-no-padding" detail>
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-label>
          Book with an Instructor
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item lines="none" class="ion-no-padding" detail>
        <ion-icon slot="start" name="business-outline"></ion-icon>
        <ion-label>
          Book a Location
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-list>